body {
  font-family: "Open Sans", serif;
  color: #212D3B;
  font-weight: 400;
}

.section {
  padding: 30px 0;
}

.site-btn {
  background-color: #152996;
  transition: all ease-in-out 0.3s;
  padding: 5px 15px;
  -webkit-border: 1px solid #152996;
  -moz-border: 1px solid #152996;
  -o-border: 1px solid #152996;
  border: 1px solid #152996;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -o-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
}
.site-btn:hover {
  background-color: #fff;
  -webkit-border: 1px solid #152996;
  -moz-border: 1px solid #152996;
  -o-border: 1px solid #152996;
  border: 1px solid #152996;
}
.site-btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.site-btn a:hover {
  color: #152996;
}

h1 {
  color: #152996;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 56px;
}
h1 span {
  font-weight: 700;
  color: #212D3B;
}

h2 {
  color: #152996;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
}
h2 span {
  font-size: 28px;
  font-weight: 700;
  color: #212D3B;
}

h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 22px;
}

.hero-img {
  position: relative;
}
.hero-img .hero-img-1 {
  width: 100%;
  padding-left: 10%;
  -webkit-border-radius: 50% 10% 10% 50%;
  -moz-border-radius: 50% 10% 10% 50%;
  -o-border-radius: 50% 10% 10% 50%;
  border-radius: 50% 10% 10% 50%;
}
.hero-img .hero-img-2 {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 250px;
}

.sec-1 {
  background-color: #152996;
  color: #fff;
  text-align: center;
}
.sec-1 h5 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px;
}

.sec-2 {
  overflow: hidden;
}

.sec-slider {
  transform: translate(120px, 0px);
}
.sec-slider .slick-arrow {
  display: none !important;
}
.sec-slider .slider-1 {
  position: relative;
  padding: 10px 30px;
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.4);
  margin: 10px 0;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}
.sec-slider .slider-1 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
}
.sec-slider .slick-slide {
  margin: 0 10px;
}
.sec-slider .slick-list {
  margin: 0 -10px;
  margin-left: 10%;
}

.sec-3 .sec-3-content {
  text-align: center;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.4);
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}
.sec-3 .sec-3-content img {
  padding: 10px;
  max-width: 40px;
  max-height: 40px;
  background-color: #152996;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 15px;
}
.sec-3 .sec-3-content p {
  font-size: 13px;
}

.sec-4-content {
  background-image: url(../images/sec-4-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}
.sec-4-content .sec-4-wraper {
  max-width: 60%;
}
.sec-4-content .sec-4-wraper h3 {
  text-transform: capitalize;
  font-size: 42px;
}
.sec-4-content .sec-4-wraper p {
  max-width: 55%;
}

.sec-5 .tabs {
  color: #212D3B;
  cursor: pointer;
  -webkit-border: 2px solid #fff;
  -moz-border: 2px solid #fff;
  -o-border: 2px solid #fff;
  border: 2px solid #fff;
}
.sec-5 p {
  font-size: 13px;
}
.sec-5 .tabs.active {
  background-color: #fff;
  -webkit-border: 2px solid #0178E5;
  -moz-border: 2px solid #0178E5;
  -o-border: 2px solid #0178E5;
  border: 2px solid #0178E5;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}
.sec-5 .tabs.active h4 {
  color: #0178E5;
}
.sec-5 .tabs.active p {
  color: #212D3B;
}
.sec-5 .sec-5-img {
  width: 100%;
  -webkit-border-radius: 50% 10% 10% 50%;
  -moz-border-radius: 50% 10% 10% 50%;
  -o-border-radius: 50% 10% 10% 50%;
  border-radius: 50% 10% 10% 50%;
}

.sec-6 h2 {
  color: #212D3B;
}
.sec-6 .sec-6-img {
  width: 100%;
  max-height: 200px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.sec-6 .sec-6-wraper {
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.4);
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}
.sec-6 .sec-6-wraper p {
  font-size: 13px;
}

.sec-header a {
  transition: all ease-in-out 0.3s;
  font-weight: 600;
}
.sec-header a:hover {
  color: #152996;
  text-decoration: 2px underline #152996;
}
.sec-header .user-icon, .sec-header .bag-icon {
  color: #fff;
  background-color: #152996;
  height: 15px;
  width: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #152996;
  transition: all ease-in-out 0.3s;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -o-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
}
.sec-header .user-icon:hover, .sec-header .bag-icon:hover {
  color: #152996;
  background-color: #fff;
  border: 1px solid #152996;
}
.sec-footer {
  background-image: url(../images/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 100%;
  position: relative;
  padding: 60px 0;
}
.sec-footer .container {
  position: relative;
  z-index: 1;
}
.sec-footer .overlay {
  background-color: rgba(33, 45, 59, 0.8156862745);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sec-footer img {
  max-width: 200px;
}
.sec-footer h3 {
  padding: 60px 0;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 28px;
}
.sec-footer .footer-links {
  display: flex;
  justify-content: space-between;
}
.sec-footer .footer-links li {
  list-style: none;
}
.sec-footer .footer-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.sec-footer h6 {
  color: #fff;
  text-transform: uppercase;
}
.sec-footer h4 {
  color: #fff;
}
.sec-footer .form-control {
  width: 350px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (max-width: 768px) {
  .sec-footer .form-control {
    width: 200px;
  }
}
.sec-footer .social-icons span {
  background-color: rgba(33, 45, 59, 0.6196078431);
  padding: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.sec-footer .social-icons span i {
  color: #fff;
  max-width: 20px;
  max-height: 20px;
}

@media only screen and (max-width: 668px) {
  h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 668px) {
  h2 {
    font-size: 28px;
  }
  h2 span {
    font-size: 16.8px;
  }
}
@media only screen and (max-width: 668px) {
  .sec-4-content {
    height: 500px;
  }
  .sec-4-content .sec-4-wraper {
    max-width: 100%;
  }
  .sec-4-content .sec-4-wraper h3 {
    font-size: 32.2px;
  }
  .sec-4-content .sec-4-wraper p {
    max-width: 60%;
  }
}
@media only screen and (max-width: 668px) {
  .sec-footer h6 {
    text-align: center;
  }
  .sec-footer h4 {
    text-align: center;
  }
  .sec-footer .social-icons {
    justify-content: center;
  }
  .sec-footer form {
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
