@include tablet {
    h1 {
        font-size: $textSize * 3;
    }
    h2 {
        font-size: $textSize * 2;

        span {
            font-size: $textSize * 1.2;
        }
    }
    .sec-slider{
        transform: translate(0,0);
    }
    .sec-4-content {
        height: 500px;

        .sec-4-wraper {
            max-width: 100%;

            h3 {
                font-size: $textSize * 2.3;
            }

            p {
                max-width: 60%;
            }
        }
    }
    .sec-footer {

        h6 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }

        .social-icons {
            justify-content: center;
        }

        form {
            justify-content: center;
        }
    }
}
